/*------------------
    RESET
-------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*------------------
  hovers
-------------------*/
body li:hover{
  color: #ffffff;
  
}

main p:hover{
  color: #ffffff;
}

i:hover{
  color: #ffffff;
}

.container-nav li:hover {
  border-bottom: 5px solid #bfff30;
  border-radius: 5px;
}

.btn-upgrade:hover {
  transform: scale(1.1);
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease; 
}

footer i:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease; 
}


/*------------------
  TYPOs
-------------------*/
body {
  font-family: "Montserrat", sans-serif;

}

/*------------------
  GENERAL
-------------------*/
.container-app {
  height: calc(100vh - 90px);
  display: flex;
}

/*------------------
  HEADER
-------------------*/
header {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  padding-right: 70px;
}

.logo img {
  max-height: 60px;
  padding-right: 2px;
}

.main-nav {
  background-color: black;
  padding: 20px;
}

.playlist-img {
  height: 40px;
}

.main-nav ul {
  display: flex;
  padding: 5px;
}

.main-nav li {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #6b6b6b;
  padding-left: 10px;
}

.main-nav .home-white {
  color: #ffffff
}



.playlist-title {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  padding-top: 5px;
}

.playlist {
  background-color: rgb(0, 0, 0);
  flex-grow: 1;
  overflow-y: auto;
}

.playlist-title h3 {
  color: #ffffff;
  font-size: 23px;
  font-weight: 800;
  padding-bottom: 10px;

}

.playlist-title i {
  background-color: #a3a3a3;
  font-size: 35px;
  padding: 10px;
}



.playlist-title button {
  font-size: 20px;
  font-weight: 700;
  margin-left: 0px;
  color: #6b6b6b;
  background-color: black;
  border-style: none;
  padding: 10px;
}

.playlist {
  padding: 25px;

}

.playlist a {
  text-decoration: none;
  font-size: 20px;
  color: #6b6b6b;
  font-weight: 700;

}

.playlist li {
  padding: 15px 0;
}



.account {
  background-color: rgb(0, 0, 0);
  margin-top: auto;
  padding: 10px 25px;
}

.account i {
  font-size: 20px;
  color: #777777;
}

.account button {
  font-size: 16px;
  font-weight: 600;
  border-style: none;
  margin-left: 10px;
  color: #777777;
  background-color: black;

}

.account img {
  border-radius: 100%;
  height: 30px;
  background-color: #6b6b6b;
}

.account hr {
  color: #6b6b6b;
  margin: 20px 0;
}

.account .line-user {
  display: flex;
  text-align: center;
}

.account h3 {
  display: flex;
  padding-top: 3px;
  padding-left: 6px;
  color: #ffffff;
  font-weight: 900;
}

/*------------------
  MAIN
-------------------*/
main {
  background-color: #141922;
  overflow-y: auto;
  flex-grow: 1;
}

.container-upgrade {
  height: 145px;
  background-color: #080b12;

  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  position: sticky;
}



button {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 18px;
  background: #080b12;
  padding: 10px 40px 10px 40px;
  border: solid #ffffff 3px;
  text-decoration: none;

}

btn-upgrade {
  display: flex;
  justify-content: center;
}

/*------------------
  main-nav
-------------------*/

.container-nav {
  background-color: #141922;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-nav ul {
  display: flex;
  list-style: none;
}


.container-nav li {
  padding: 15px;
  font-size: 19px;
  font-weight: 700;
  color: #7f8085;
}

/*------------------
  PLAYED
-------------------*/

.tittle-played {
  margin: 15px;
  padding: 5px;
  color: #ffffff;
}

.played-container {
  display: flex;
  flex-wrap: wrap;
}

.played-container img {

  height: 250px;
  margin: 15px;
  padding: 5px;

}

.image-with-text h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  width: 300px;

}

.image-with-text p {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 800;
  color: #7d8084;
  padding-top: 15px;
}

.imgcircle {
  border-radius: 100%;

}

.text-suggest {
  padding-top: 20px;
  color: #87888d;
  font-size: 19px;
  font-weight: 600;
}

.fix-hight {
  padding-top: 30px;
}



/*------------------
  FOOTER
-------------------*/
footer {
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.player-left {
  display: flex;
  align-items: center;

}

.song h2 {
  font-size: 20px;
  color: #ffffff;
}

.song p {
  font-size: 15px;
  color: #878787;
  font-weight: 600;
}


.items-song {
  font-size: 25px;
  padding: 30px;
  color: #6b6b6b;
}

.player-left img {
  height: 70px;
  margin: 15px;
  padding: 5px;
}

.player-center i {
  font-size: 23px;
  padding: 15px;
  color: #ffffff;
}

.player-center :nth-child(3) {
  font-size: 36px;
  font-weight: 700;
}

.bar {
  height: 6px;
  background: gray;
  width: 100%;
  display: flex;

}

.bar-inside {

  width: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;

}

.player-right {
  font-size: 24px;
  margin: 15px;
  padding: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.player-right i {
  padding-left: 20px;
}

.volumen {
  width: 200px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  margin-left: 20px;
}


/*------------------
  RESPONSIVE
-------------------*/
@media screen and (max-width: 1100px) {
  .container-nav li {
    font-size: 15px;
    padding: 10px;
    align-items: start;
  }

  .played-container{
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {


  .container-nav li{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

.items-song i{
    display: flex;
  }

}



@media screen and (max-width: 600px) {

header{
  display: none;
}

.sidebar{
  background-color: rgb(0, 0, 0);
  width: 250px;
  padding: 5px;
}

.sidebar i{
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  font-size: 90px;
}

.sidebar i:hover{
  color: #559a38;
}

.sidebar img{
  margin-top: 20px;
}


/*------------------
  sidebar-
-------------------*/

}

@media screen and (min-width: 600px) {


  .sidebar{
    background-color: rgb(0, 0, 0);
    width: 250px;
    padding: 5px;
    display: none;
  }
  /*------------------
    sidebar-
  -------------------*/
  
  }